<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand p-4" routerLink="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link p-3 hoverLink" routerLink="/duenios">Dueños</a>
          <a class="nav-link p-3 hoverLink" routerLink="/mascotas">Mascotas</a>
          <a class="nav-link p-3 hoverLink" routerLink="/crearduenio">Crear dueño</a>
          <a class="nav-link p-3 hoverLink" routerLink="/crearmascota">Crear mascota</a>
        </div>
      </div>
    </div>
  </nav>